body
{
	font-family:Times New Roman;
	color:#00A6C6;
	font-weight:bold;
	text-align :center;
	scrollbar-arrow-color:#FF8627;
  	scrollbar-track-color:#FF8627;
 	scrollbar-shadow-color:#00A6C6;
  	scrollbar-face-color:#00A6C6;
}


